@model IEnumerable<EttvMvc.Models.VideoContent>

@{
    ViewBag.Title = "Content";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-9">
        @using (Html.BeginForm("Index", "Content", FormMethod.Post))
        {<div class="input-group">
                <input type="url" name="url" id="url" class="form-control col-12" placeholder="Insert the Youtube Url" aria-label="Insert the Youtube Url" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <input type="submit" value="Add video" class="btn btn-outline-secondary" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-3">
        @using (Html.BeginForm("Index", "Content", FormMethod.Get))
        {<div class="input-group">
                <input type="text" name="tag" id="tag" class="form-control col-12" placeholder="search by tag" aria-label="Insert tag for search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <input type="submit" value="search" class="btn btn-outline-secondary" />
                </div>
            </div>
        }
    </div>
</div>
<br />

<ul class="list-unstyled">
    @foreach (var item in Model)
    {
        <li class="media">
            <img class="m-3" src="@item.Thumbnail" />
            <div class="media-body">
                <div class="card-header">
                    <h5 class="mt-0 mb-1"> Title : @item.Title</h5>
                    <h6> Tag : @item.Tag</h6>
                    @Html.ActionLink("Edit tag", "TagEdit", new { id=item.VideoId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.VideoId  }, new { onclick = "return confirm('Are you sure you wish to delete this Video Content ?');"})
                </div>
                <div class="card=footer text-center">
                </div>
            </div>
        </li>
    }
</ul>
