@using EttvMvc.Helps
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ETTV AppUserlication</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("ETTV", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">@Html.ActionLink("Channel", "Index", "Channel", new { area = "Admin" }, new { @class = "nav-link" })</li>
                @if (UserSession.CurrentUser.Profile.Name == "Admin")
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Content", "Index", "Content", new { area = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Member", "Index", "Member", new { area = "Admin" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "Admin" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            </ul>
            <form class="form-inline my-2 my-lg-0">

                @Html.ActionLink("Hello " + UserSession.CurrentUser.FirstName + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
                @Html.ActionLink("Log off", "Logoff", "User", new { area = "" }, new { @class = "btn btn-outline-danger my-2 my-sm-0" })
            </form>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ETTV AppUserlication</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
